{% extends 'home/base.html' %}

{% block mi_titulo %}
<title>Crear persona</title>
{% endblock mi_titulo %}

{% block mi_contenido %}
<form action={% url 'crear_persona' %} method="POST">
    {% csrf_token %}

    <table>
    {{formulario}}
    </table>
    {% comment %} <p>
        Nombre:
    <input type="text" name= "Nombre" placeholder="Nombre">
    </p>
    <p>
        Apellido:
    <input type="text" name= "Apellido" placeholder="Apellido">
    </p> {% endcomment %}
    {% comment %} <input type="submit" value="Enviar"> {% endcomment %}
    <button>Enviar</button>

</form>       
{% endblock mi_contenido %}
