{% extends 'home/index.html' %}

{% block mi_titulo %}
<title>Usuarios</title>
{% endblock mi_titulo %}

{% block h1_texto_header %}
Usuarios
{% endblock h1_texto_header %}

{% block index_contenido %}
    <a class="navbar-brand" href={% url 'index' %}>Index</a>
    <p> Listado de usuarios </p>
    {% for familiar in familiares %}
        <li><p> Familiar: {{familiar.nombre}} {{familiar.apellido}}</p> 
        <p>Edad: {{familiar.edad}}</p> 
        <p>Fecha de creación: {{familiar.fecha_nacimiento}} </p></li>    
    {% endfor %}
{% endblock index_contenido %}