{% extends 'home/index.html' %}

{% block mi_titulo %}
<title>Usuarios</title>
{% endblock mi_titulo %}

{% block h1_texto_header %}
Usuarios
{% endblock h1_texto_header %}

{% block index_contenido %}
<a class="navbar-brand" href={% url 'crear_persona' %}>Crear Usuario</a>
<p> Listado de usuarios </p>

<form action={% url 'ver_personas' %} method="GET">
    <p>
    {{formulario}}
    <button>Buscar</button>
    </p>
</form>

<p>
    {% if familiares %}

        {% for familiar in familiares %}
            <li><p> Familiar: {{familiar.nombre}} {{familiar.apellido}}</p>
            <p>Edad: {{familiar.edad}}</p>
            <p>Fecha de nacimiento: {{familiar.fecha_nacimiento}} </p></li>
        {% endfor %}

    {% else %}
        <p>No hay usuarios creados o la busqueda no coincide.</p>
    {% endif %}

</p>
{% endblock index_contenido %}